* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    background-image: url("../img/Фон 1.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 1230px;
    margin: auto;
}

.header {
    height: 58px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 57px;
}

.header-title {
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 100% */
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.text-style {
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    padding-right: 4px;
}

.border {
    display: inline-block;
    padding: 5px 10px;
    border-left: 1px solid #d0d0d0;
    z-index: 1;
}

.header-title:hover {
    color: #3CB878;
}

.style-nav:hover {
    content: url("../svg/calendar-alt-regular-hover.svg");
}

.style-nav-one:hover {
    content: url("../svg/envelope-open-regular-hover.svg");

}

.style-nav-two:hover {
    content: url("../svg/compass-regular-hover.svg");

}

.color:hover {
    color: #3CB878;
}

.color-2:hover {
    color: #3CB878;
}

.container-main {
    width: 444px;
    height: 612px;
    background: #FFF;
    margin: auto;
}

.sqare {
    position: relative;
    top: 51px;
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.logo-main {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 32px;
}

.item-3 {
    margin-left: 62px;
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
}

.item-2 {
    margin-right: 62px;
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.item-2:hover {
    text-decoration: underline;
}

.link {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.facebook {
    right: 54px;
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}

.item-style {
    display: flex;
    align-items: center;
    margin-left: 62px;
    width: 150px;
    height: 48px;
    background-color: #305DB8;
}

.item-style:hover {
    background-color: #022263;
}

.google {
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px; /* 100% */
}

.item-style-2 {
    display: flex;
    align-items: center;
    margin-right: 52px;
    width: 150px;
    height: 48px;
    background-color: #DF4A32;
}

.item-style-2:hover {
    background-color: #AB1F09;
}

.style-fb {
    padding-left: 10px;
    padding-right: 30px;
}

.style-google {
    padding-left: 10px;
    padding-right: 37px;
}

p::first-line {
    border-left: 1px solid #F2F2F2;
    width: 152px;
}

.style-or {
    margin-top: 28px;
    text-align: center;
    color: #848484;
    font-family: "Ubuntu";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.input-contant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-style {
    font-family: "Ubuntu";
    color: #434343;
    padding-left: 18px;
    margin-top: 8px;
    margin-bottom: 12px;
    text-align: start;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
    width: 332px;
    height: 44.083px;

}

.input-style:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.21)
}

[type= "checkbox"] {
    display: none;
}

label {
    display: flex;
    width: 256px;
    margin-left: 57px;
}

label .checkbox {
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
    position: relative;
    background-color: #FFF;
    border-radius: 2px;
    padding: 3px;
    display: inline-block;
}

[type= "checkbox"]:checked + span:after {
    content: url("../svg/Vector 1.svg");
    accent-color: white;
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 23px;
    color: green;
}

.text-check {
    display: flex;
    align-items: center;
    padding-left: 8px;
    color: #434343;
    font-family: "Ubuntu";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}


.check-text-two {
    padding-left: 3px;
    color: #3CB878;
    font-family: "Ubuntu";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.check-text-two:hover {
    text-decoration: underline;
}

.button-wrapper {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.button-type {
    width: 330px;
    height: 46px;
    color: #3CB878CC;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
}

.button-type:hover {
    background: #01813F;
}

.text-button {
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}